/*the barrel pattern: one entry point for all css files*/
@import url("reset.css"); /* CSS Reset for browser compatibility */
@import url("base.css");
@import url("layout.css"); /* Main styles */
@import url("components.css"); /* Reusable components */
