/* --------------------------------------------------------------------------
    Navigation
   -------------------------------------------------------------------------- */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--color-bg);
  padding: 0.5rem;
  border: solid var(--color-text) 1px;
}

.nav-container {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  width: min(90%, 1200px);
  margin-inline: auto;
  color: #1f1402;
}

.nav-logo {
  font-size: var(--text-xl);
  font-weight: 800;
  color: var(--color-text);
  align-items: center;
}

.nav-links {
  display: flex;
  position: absolute;
  right: 0;
  gap: var(--space-lg);
  list-style: none;
  color: var(--color-text);
}

.nav-links a {
  color: var(--color-text-muted);
  transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a:focus {
  color: var(--color-accent);
}
